<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Stwórz diete</title>
</head>
<body>
    <h1 th:text="${info}">Stwórz dietę</h1>

    <form th:action="@{/creatediet}" method="post" th:object="${dietForm}">
        <input type="hidden" th:field="*{user}">
        Początek:<input type="date" th:field="*{startDate}"><br/>
        Koniec:<input type="date" th:field="*{endDate}"><br/>
        <input type="submit" value="Stwórz dietę">
    </form>
    <h1 th:text="${info2}"></h1>
    <table>
        <tr>
            <th>NAZWA</th>
            <th>DATA</th>
            <th> </th>
        </tr>
        <tr th:each="meal : ${meals}">
            <td th:text="${meal.name}"></td>
            <td th:text="${meal.date}"></td>
            <td>Dodaj posiłek</td>
        </tr>
    </table>
</body>
</html>