<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przepisy</title>
</head>
<body>
    <ul th:each="meal : ${meals}">
        <li th:text="${meal.name} " style="font-size: large"></li>
        <li th:text="${'Kalorie: ' + meal.calories}"/>
        <ul th:each="ingredient : ${meal.ingredients}">
            <li th:text="${ingredient.ingredient.name} + ': ' + ${ingredient.weight} + 'g'"></li>
        </ul>
        <li th:utext="${meal.description}"></li>
        <li><img th:src="${meal.imageUrl}" height="400px"></li>
    </ul>


</body>
</html>