<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj gramature posiłku</title>
</head>
<body>
    <h2>Dodaj gramature posiłku:</h2>

    Składnik:  <p th:text="${name}"></p><br/>
    <form th:action="@{/mealweight}" th:object="${model}" method="post">
        <input type="hidden" th:field="*{ingredient}"/>
        Waga: <input type="text" th:field="*{weight}"/>
        <input type="submit" value="Dodaj gramature"/>
    </form>
</body>
</html>