<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <h2 th:text="${info}"></h2>
    <form th:action=@{/register} method="post", th:object="${registerForm}">
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
        Login: <input type="text" placeholder="Login" th:field="*{login}"/><br/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        Hasło: <input type="password" placeholder="Hasło" th:field="*{password}"/><br/>
        <p th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></p><br/>
        Wzrost: <input type="text" placeholder="Wzrost" th:field="*{height}"/><br/>
        <p th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p><br/>
        Waga: <input type="text" placeholder="Waga" th:field="*{weight}"/><br/>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p><br/>
        Wiek: <input type="text" placeholder="Wiek" th:field="*{age}"/><br/>
        Płeć: <select th:field="*{sex}">
            <option th:each="enum : ${sex}"
                    th:value="${enum}"
                    th:text="${enum.description}">Wireframe</option>
        </select><br/>
        Aktywność fizyczna: <select th:field="*{physicalActivity}">
            <option th:each="pActivity : ${physicalActivity}"
                    th:value="${pActivity}"
                    th:text="${pActivity.description}"></option>
        </select><br/>
        Planuje: <select th:field="*{plans}">
            <option th:each="plan : ${plans}"
                    th:value="${plan}"
                    th:text="${plan.description}"></option>
        </select><br/>
        <input type="submit" value="Zarejestruj się!"/>
    </form>
</body>
</html>